[core]
packedGitLimit = 128m
packedGitWindowSize = 128m
quotepath = false
editor = vim

[alias]
st = status
rpull = !git pull $1 && git submodule foreach --recursive \"git pull origin master --recurse-submodules\"
rp = rpull

[pack]
deltaCacheSize = 128m
packSizeLimit = 128m
windowMemory = 128m

[http]
postbuffer = 5m

[pull]
default = current
rebase = false

[push]
default = current

[user]
email = x@y.com
name = null
